---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/astroComponents/Hero.astro';
import JVcode from '../components/astroComponents/JVcode.astro';
import Banner from '../components/astroComponents/Banner.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero/>
		<JVcode/>
		<Banner/>
	</main>
</Layout>

<style>

	h1{
		color: var(--lightWhite);
	}
	
</style>
