<div class="banerContainer">
  <ul class="list">
    <li>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M12 12l8 -4.5"></path><path d="M12 12v9"></path><path
          d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path
          d="M12 3v9"></path><path d="M12 12l-8 4.5"></path></svg
      >Diseño
    </li>
    <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 12l8 -4.5"></path><path d="M12 12v9"></path><path
            d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path
            d="M12 3v9"></path><path d="M12 12l-8 4.5"></path></svg
        >Soluciones
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 12l8 -4.5"></path><path d="M12 12v9"></path><path
            d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path
            d="M12 3v9"></path><path d="M12 12l-8 4.5"></path></svg
        >Web
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 12l8 -4.5"></path><path d="M12 12v9"></path><path
            d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path
            d="M12 3v9"></path><path d="M12 12l-8 4.5"></path></svg
        >SEO
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 12l8 -4.5"></path><path d="M12 12v9"></path><path
            d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path
            d="M12 3v9"></path><path d="M12 12l-8 4.5"></path></svg
        >UI/UX
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 12l8 -4.5"></path><path d="M12 12v9"></path><path
            d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path
            d="M12 3v9"></path><path d="M12 12l-8 4.5"></path></svg
        >Desarrollo
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 12l8 -4.5"></path><path d="M12 12v9"></path><path
            d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path
            d="M12 3v9"></path><path d="M12 12l-8 4.5"></path></svg
        >Crecimiento
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 12l8 -4.5"></path><path d="M12 12v9"></path><path
            d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path
            d="M12 3v9"></path><path d="M12 12l-8 4.5"></path></svg
        >Responsive
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 12l8 -4.5"></path><path d="M12 12v9"></path><path
            d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path
            d="M12 3v9"></path><path d="M12 12l-8 4.5"></path></svg
        >Posicionamiento
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 12l8 -4.5"></path><path d="M12 12v9"></path><path
            d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path
            d="M12 3v9"></path><path d="M12 12l-8 4.5"></path></svg
        >Transformación
      </li>
  </ul>
</div>

<style>
  .banerContainer {
    margin: 2rem 0;
    width: 100vw;
    background-color: orange;
    height: 150px;
    background-color: rgba(117, 117, 117, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
  }

  .list {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }

  .list > li {
    width: 280px;
    margin: 0 4rem;
    list-style: none;
    color: var(--skyBlue);
    font-size: 2rem;
    font-weight:bolder;
    animation: smoothTranslate 40s ease-in infinite alternate-reverse;
  }

  /* animacion banner*/
  
  @keyframes smoothTranslate {
    0%{
        transform: translateX(-4000px);
    }

    100%{
        transform: translateX(0);
    }
  }

</style>
