---
---



<div class="historyContainer">
   <div class="history">
        <h2>HISTORIA DE JV CODE</h2>
        <p>
            Inicio con la misión de crear sitios web profesionales que cautiven a los espectadores y satisfagan las necesidades de las empresas. Mi pasión por el diseño atractivo y funcional me ha llevado a ofrecer soluciones digitales que reflejan la esencia de cada negocio, ayudando a mis clientes a destacar en un mundo digital competitivo.
        </p>
   </div>
   <div class="caracteristicas">
        <h2><span class="number">1.</span>NUESTRO ENFOQUE<h2/>
        <p>
            Me enfoco en crear sitios web estéticamente atractivos, intuitivos y fáciles de navegar. Una buena estructura mejora la experiencia del usuario y optimiza el rendimiento, ayudando a las empresas a conectarse mejor con su audiencia y alcanzar sus objetivos.
        </p>
   </div>
   <div class="caracteristicas">
    <h2><span class="number">2.</span>¿QUÉ NOS DIFERENCIA?<h2/>
    <p>
        En JV CODE nos adaptamos a las necesidades de cada empresa, creando diseños personalizados que se alinean con su visión. Nos enfocamos en todos los aspectos, desde el diseño hasta la optimización SEO, para destacar y atraer tráfico de calidad.
    </p>
    </div>
</div>


<style>
    .historyContainer{
        height: auto;
        max-width: 100vw;
        padding: 0 4rem;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    /*seccion historia de jv code */

    .history{
        height: auto;
        width: 80%;
    }

    .history > h2{
        color: var(--skyBlue);
        font-size: 4rem;
        margin: 0 0 2rem 0;
    }

    .history > p{
        color: var(--lightWhite);
        text-align: start;
        font-size: 1.6rem;
        line-height: 1.5;
        width: 90%;
    }

    .caracteristicas{
        height: auto;
        width: 80%;
        margin: 20vh 0;
    }

    .caracteristicas >h2{
        color: var(--skyBlue);
        font-size: 4rem;
        margin: 0 0 2rem 0;
    }

    .number{
        font-size: 6rem;
        margin: 0 1rem 0 0;
    }

    .caracteristicas > p{
        color: var(--lightWhite);
        font-size: 1.6rem;
        text-align: start;
        line-height: 1.5;
        width: 90%;
        margin: 0 0 0 5.3rem;
    }


</style>