

<div class="trabajoContainer">
    <h2>
        COMO TRABAJAMOS
    </h2>
    <div class="descriptions">
        <p>
            Trabajamos en fases de diseño y desarrollo, colaborando estrechamente contigo en cada etapa.
        </p>
        <p>
            Desde la planificación hasta el lanzamiento, nos aseguramos de que tu sitio web refleje tus objetivos y potencie tu negocio.
        </p>
    </div>
</div>


<style>

    .trabajoContainer{
        height: auto;
        max-width: 100vw;
        padding: 0 4rem;
        margin: 200px 0;

        display: flex;
        flex-direction: row;
    }

    .trabajoContainer > h2 {
        font-size: 4rem;
        color: var(--skyBlue);
    }

    .descriptions > p{
        color: var(--lightWhite);
        font-size: 1.6rem;
        width: 50%;
        margin: 0 0 2rem 14rem;
    }

    /* media querys */

    @media (max-width: 576px) {
        .trabajoContainer{
        height: auto;
        max-width: 100vw;
        padding: 0 2rem;
        margin: 200px 0;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .trabajoContainer > h2 {
        font-size: 2rem;
        color: var(--skyBlue);
    }

    .descriptions > p{
        color: var(--lightWhite);
        font-size: 1rem;
        width: 100%;
        margin: 1rem 0 2rem 0rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .trabajoContainer{
        height: auto;
        max-width: 100vw;
        padding: 0 2rem;
        margin: 200px 0;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .trabajoContainer > h2 {
        font-size: 2.5rem;
        color: var(--skyBlue);
    }

    .descriptions > p{
        color: var(--lightWhite);
        font-size: 1.6rem;
        width: 100%;
        margin: 1rem 0 2rem 0rem;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .trabajoContainer{
        height: auto;
        max-width: 100vw;
        padding: 0 2rem;
        margin: 200px 0;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .trabajoContainer > h2 {
        font-size: 2.6rem;
        color: var(--skyBlue);
    }

    .descriptions > p{
        color: var(--lightWhite);
        font-size: 1.6rem;
        width: 100%;
        margin: 1rem 0 2rem 0rem;
    }
}








</style>